body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #000000; 
}

.container {
  display: grid;
  text-align: center; 
  padding: 20px;
}
h1 {
  color: rgb(81, 52, 199); 
  margin: 0;
  padding-top: 20px; 
}
h2 {
  color: #8a0de3;
  margin: 5px;
  padding-top: 20px;
  text-align: center;
}
h3 {
  color: rgb(0, 221, 0); 
  margin: 0px;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase; 
}
h4 {
  color: rgb(211, 88, 88); 
  margin: 0;
  padding-top: 20px; 
}

.title {
  color: white; 
  background-color:black;
  border-radius: 10px;
  margin: 0;
  padding-top: 1px;
  font-size:40px;
}
  
  .rules {
    color: rgb(25, 169, 213); 
    background-color:black;
    border-radius: 10px;
    margin: 0;
    padding-top: 1px;
    font-size: 40px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px; /* Space between boxes */
  padding: 10px; /* Padding around the gameboard */
  justify-content: center;
}
#box0 {
  background-color: #8a0de3; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px;
  height: 80px; 

}
#box1 {
  background-color: #ddce02; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 
  height: 80px;

}
#box2 {
  background-color: #8a0de3; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 
  height: 80px;
}
#box3 {
  background-color: #ddce02; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 
  height:80px;

}
#box4 {
  background-color: #8a0de3; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px;
  height: 80px; 

}
#box5 {
  background-color:#ddce02; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 
  height:80px;
}
#box6 {
  background-color: #8a0de3; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 
  height: 80px;

}
#box7 {
  background-color:#eeea0c; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 

}
#box8 {
  background-color: #8a0de3; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 

}


.Question-area {
  background-color: #8b7c7c; /* Background color for the question area */
  color: rgb(220, 195, 3); /* Text color for the question */
  border-radius: 10px;
  padding: 10px;
  margin: 2px auto; 
  width: 100%;
  height: 200px; 
  font-size: 20px; 
  text-align: center;
  border: 2px solid #000; /* Add a 2px solid black border */
}

.Answer-area {
  border-radius: 20px;
  padding: 10px;
  margin: 2px auto; 
  font-size: 20px; 
  text-align: center; /* Add margin-top to center the answer area under the question */
}

.Answer {
  flex-grow: 11; /* Answer area takes available space */
}

.score-area {
  display: flex; 
  align-items: center;
  padding: 10px;
  margin-top: -36px; /* Updated margin value */
}
.score-text {
  color: rgb(224, 225, 230); 
  font-size: 20px; 
  margin: 0;
  padding: 0;
}

#score {
  margin: 0px;
  padding: 5px;
  font-size: 20px;
  color: rgb(21, 190, 216); 
}

.restartBtn button {
  background-color: #f44336; /* Restart button color */
  color: white; 
  padding: 30px 40px;
  border-radius: 5px;
  border: none;
  margin-top: 70px; 
  cursor: pointer;
}

.restartBtn button:hover {
  background-color: #f3c4c0; /* Change color when hovering over the button */
}
@media only screen and (max-width: 1000px) {
  #box0,
  #box1,
  #box2,
  #box3,
  #box4,
  #box5,
  #box6,
  #box7,
  #box8 {
    padding: 30px;
    height: 70px;
  }

  .Question-area {
    height: 180px;
    font-size: 18px;
    margin: -20px;
  }

  .Answer-area {
    font-size: 18px;
  }

  .restartBtn button {
    padding: 15px 25px;
    margin: 50px 0;
  }
}
@media only screen and (max-width: 600px) {
  #box0,
  #box1,
  #box2,
  #box3,
  #box4,
  #box5,
  #box6,
  #box7,
  #box8 {
    padding: 20px;
    height: 60px;
  }

  .Question-area {
    height: 150px;
    font-size: 16px;
  }

  .Answer-area {
    font-size: 16px;
  }

  .restartBtn button {
    padding: 10px 19px;
    margin: 35px 0;
  }
}