body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #1A61B5; 
}

.container {
  text-align: center; 
  padding: 20px;
}

.title {
  color: white; 
  margin: 0;
  padding-top: 20px; 
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; /* Space between boxes */
  padding: 20px; /* Padding around the gameboard */
  justify-content: center;
}

.box {
  background-color: #D9D9D9; /* Default color for the boxes */
  border-radius: 10px; 
  padding: 40px; 
  margin-bottom: 10px; 
}

.Question-area {
  background-color: #fff; /* Background color for the question area */
  color: black; /* Text color for the question */
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto; 
  width: 80%; 
}

.Answer-area {
  display: flex;
  justify-content: center; /* Centering answer area contents */
  align-items: center;
  gap: 10px; 
  padding: 20px;
}

.Answer {
  flex-grow: 1; /* Answer area takes available space */
}

.answer-area input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%; /* Width of the text input */
}

.answer-area button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50; 
  color: white; 
  cursor: pointer;
}

.score-area {
  background-color: #fff; /* Background color for the score area */
  color: black; 
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto; 
  width: 80%; 
}

.restartBtn button {
  background-color: #f44336; /* Restart button color */
  color: white; 
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 20px; 
  cursor: pointer;
}