body {
  font-family: 'Inter', sans-serif;
  background-color: #1A61B5;
  color: white;
  text-align: center;
}
.container {
  margin: auto;
  max-width: 845px;
}
h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: black;
}
h2 {
  font-size: 2rem;
  margin-top: 0;
  color: black;
}
h3 {
  font-size: 1.5rem;
  margin-top: 0;
  color: black;
}
h4 {
  font-size: 1.2rem;
  margin-top: 0;
  color: black;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.box {
  background-color: #299DCE;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.box:hover {
  background-color: #1A61B5;
  cursor: pointer;
}
.box:active {
  background-color: #1A61B5;
}
.Question-area {
  background-color: #299DCE;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.Answer-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #83BB8C;
  padding: 15px;
  border-radius: 20px;
}